.App {
  width: 1200px;
  margin: 50px auto;
}

.login-box {
  border: 5px solid #000;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.input-grid {
  font-size: 24px;
  display: grid;
  width: 800px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 20px;
}

.input-grid label {
  justify-self: end;
}

.btn-login {
  width: 200px;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  grid-column: 1/3;
  justify-self: end;
}

.btn-login:hover {
  background-color: #52b9cb;
}
