/* Base Styles */
.App {
  width: 1000px;
  margin: 50px auto;
  background-color: #e9ecef;
  color: #495057;
}

nav {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}

.btn-login-tab,
.btn-signup-tab {
  color: #52b9cb;
  font-size: 16px;
  cursor: pointer;
}

.login-box {
  /* border: 1px solid #000; */
}

h1 {
  font-size: 48px;
  text-align: center;
  font-weight: 500;
}

/* Form Styles */
.input-grid {
  font-size: 24px;
  display: grid;
  width: 800px;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  margin: 0 auto 20px auto;
}

.input-grid label {
  justify-self: end;
}

.login-hint {
  height: 80px;
  grid-column: 2/3;
  justify-self: end;
  display: flex;
  gap: 24px;
  align-items: center;
}

.failed-text {
  color: #e03131;
}

.btn-login {
  width: 200px;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #52b9cb;
}

/* Control Header */
.control-header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.user-profile {
  font-size: 32px;
  padding-left: 24px;
}

/* Signup Form Styles */
.signup-box {
  padding-bottom: 20px;
}

.signup-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  gap: 12px;
  width: 300px;
}

.signup-form label {
  align-self: flex-start;
}

.signup-form input {
  border: none;
  border-bottom: 2px solid #495057;
  background-color: #e9ecef;
  font-size: 24px;
  width: 300px;
}

.signup-form button {
  width: 120px;
  align-self: center;
  font-size: 24px;
  color: #e9ecef;
  background-color: #495057;
  box-shadow: 0px 10px 15px 0px #00000024;
}

/* Navigation Buttons */
.btn-nav {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #495057;
  color: #e9ecef;
  margin-right: 10px;
}

.btn-nav:hover {
  background-color: #52b9cb;
}

/* Logout Button */
.btn-logout {
  width: 100px;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #e9ecef;
}

.btn-logout:hover {
  background-color: #52b9cb;
}

/* Row Styles */
.row {
  margin: 20px;
  width: 550px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.row input {
  width: 350px;
}

/* User Update */
.user-update {
}

.btn-update {
  font-size: 24px;
  background-color: #495057;
  color: #e9ecef;
}

.btn-update:hover {
  font-size: 24px;
  background-color: #7a8794;
}

.password-warning {
  color: red;
  margin-left: 20px;
}

.user-portrait {
  margin-top: 15px;
  width: 250px;
  height: 250px;
}

.portrait-warning {
  color: red;
  margin-left: 20px;
}

.tasks-container {
  margin-top: 15px;
  padding: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  width: 350px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 24px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.task-description {
  flex: 3;
}
